# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

* List popular languages for Data Science
* List commonly used libraries used by Data Scientists
* Tabulate open source tools used in data science
* Create examples of evaluating arithmetic expressions in Python
* List Objectives

Some of the popular languages that Data Scientists use are:

1. Julia
2. Python
3. R
4. SQL

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. Matplotlib
4. Seaborn
5. SciPy
6. TensorFlow

| Data Science Tools        |
| ------------------------- |
| JupyterLab                |
| KNIME                     |
| Orange                    |

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [1]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [2]:
minutes = 200
hours = minutes / 60
result = f"{hours} hours"
print(result)

3.3333333333333335 hours

## Author
Sebastian Motsch